@import "bootstrap/scss/bootstrap";

body {
    font-family: "Montserrat";
  }

.primary-color{
    background-color: #38B6FF;
}

nav{
   color: white;
}

.logo{
    max-width: 100px;
}

.img1{
    position:absolute;
    top: 330px;
    left: 30px;
}


